input[type="hidden"], .caascade-waiting { display:none; }

.caascade-cp input[type="button"] { margin:0; }

.caascade-cp input[type="text"] { width:5em;margin:0 1em; }

.caascade-dialog { border:1px solid #ccc;margin:1em 0; border-radius:0.25em;text-align:left }

.caascade-waiting-container { padding:1em 1em 0; }

.caascade-output-container { padding:0 1.5em 1em 3em; }

.caascade-out-output, .caascade-out-input, .caascade-prompt { font-family:Monaco, "Bitstream Charter", "Courier new", "courier", sans-serif, monospace; }

.caascade-prompt { color:#aaa;text-align:left; }

.caascade-out-pdf { text-align:left; }

.caascade-dialog pre { text-align:left;padding-left:10%; }

.caascade-out-error { color:pink; }




