.caascade { margin:1em 0 1em; }

input[type="hidden"], .caascade-waiting { display:none; }

.caascade-cp input[type="button"] { margin-right:1em;float:none; }

.caascade-cp input[type="text"] { width:3.3em;margin:0 1em; }

.caascade .caascade-cp input { vertical-align:middle; }

.caascade-dialog { border:1px solid #ccc;margin:1.5em 0; border-radius:0.25em;text-align:left;overflow-x:auto; }

.caascade-waiting-container { padding:1em 1em 0; }

.caascade-output-container { padding:0 1.5em 1em 3em; }

.caascade-cp input, .caascade-out-output, .caascade-out-input, .caascade-prompt { font-family:Monaco, "Bitstream Charter", "Courier new", "courier", sans-serif, monospace; }

.caascade-prompt { color:#aaa;text-align:left; }

.caascade-out-pdf { text-align:left; }

.caascade-dialog pre { text-align:left;padding-left:7%; }

.caascade .caascade-out-output pre { background-color:#FFF;border:none; }

.caascade .caascade-out-output img { border-radius:0px;box-shadow:none; }

.caascade-cp { line-height:4em; }

.form-type-checkbox .description { margin-left:0; }

.caascade-recaptcha { width:460px; }

.recaptchatable {table-layout:auto;}

.caascade-pdf, .caascade-approximate { margin:0 0.7em; }

.caascade option { padding:0.5em; }

.caascade select { margin:0 1em 0 0.5em; }

.caascade .required { border:1px solid pink;color:inherit; }

.caascade-2d { font-family:monospace; text-align:left; white-space:pre; }
